* {
    margin: 0;
}

.banner, .sobremi-banner {
    padding-block: 20px;
    background-size: cover;
    background-position: center;
}

.banner {
    background-image: url("../assets/img/sham-jallaludin-WIgQqi7_M6o-unsplash.jpg");
}

.sobremi-banner {
    background-image: url("../assets/img/philippe-oursel-ZAF-rhUyESY-unsplash.jpg");
}

.banner img, .sobremi-banner img {
    width: 135px;
    height: 135px;
    display: block;
    margin-inline: auto;
    border-radius: 50%;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
    background-color: #5AAA95;
    color: #095256;
    margin: 0;
    margin-top: 30px;
}

section {
    margin-block: 30px;
}


h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    text-indent: 20px;
    background-color: #5AAA95;
    color: #095256;
}

li span, li p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.personal-data ul {
    list-style: circle;
}

.personal-data-label {
    font-style: italic;
    font-weight: 700;
}

.year-range {
    font-weight: 700;
}

.academic-bg-ul, .work-experience-ul {
    list-style-type: none;
    padding-inline-start: 20px;

}

ul {
    margin-top: 30px;
}

ul li p {
    padding-inline-start: 100px;
    
}

footer, .sobremi-footer{
    text-align: center;
    padding-block: 10px;
}

footer {
    background-color: #BB9F06;
}

.sobremi-footer {
    background-color: rgba(0, 0, 0, 0.95);
}

footer span, .sobremi-footer span {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.fa-facebook, .fa-twitter, .fa-github {
    color: #FFFFFF  ;
}

/* ---- SOBRE MI ----- */

.fa-link {
    color: #095256;
}

.about p, .preferences p, .vision p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 30px;
}